<!-- <div class="projects-top fadein">
  <p class="text text-white text-large">
    Our Work
  </p>
</div> -->

<%= render partial: 'components/headers/projects_header' %>

<div class="navbar-change white section fadein">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="text-center">
        <%= image_tag "projects/eatery-logo.png", class: "app-logo" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/eatery-1.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/eatery-2.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/eatery-3.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/eatery-4.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/eatery-5.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/eatery-6.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 project-desc text-center">
        Eatery is the first app from AppDev. It provides an easy and accessible way to browse the hours and menus of the dining locations on campus. Download the current release on the
        <a href="https://itunes.apple.com/us/app/eatery-cornell-dining-made/id1089672962?mt=8" class="red-link" target="_blank">Apple App Store.</a>
        See the project on Github
        <a href="https://github.com/cuappdev/eatery" class="red-link" target="_blank">here.</a>
      </div>
    </div>
  </div>
</div>


<div class="white section fadein">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="text-center">
        <%= image_tag "projects/tempo-logo.png", class: "app-logo" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/tempo-1.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/tempo-2.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/tempo-3.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/tempo-4.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 project-desc text-center">
        Tempo is the second app from AppDev.  It allows users to post their song of the day, and discover what others are listening to. See the project on Github
        <a href="https://github.com/cuappdev/tempo" class="red-link" target="_blank">here.</a>
      </div>
    </div>
  </div>
</div>

<div class="white section fadein">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="text-center">
        <%= image_tag "projects/brs-logo.png", class: "app-logo" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/brs-1.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/brs-2.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/brs-3.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 project-desc text-center">
        BRShuttle is a collaboration app between AppDev and
        <a href="http://www.cornellbigredshuttle.com/" class="red-link" target="_blank">Cornell's Big Red Shuttle service.</a>
        The Big Red Shuttle app allows users to track the Big Red Shuttle on Cornell's campus, with a slick interface and intuitive schedule menu. Download the current release on the
        <a href="https://itunes.apple.com/us/app/brshuttle-cornell-big-red/id1180295401?ls=1&mt=8" class="red-link" target="_blank">Apple App Store.</a>
        See the project on Github
        <a href="https://github.com/cuappdev/big-red-shuttle" class="red-link" target="_blank">here.</a>
      </div>
    </div>
  </div>
</div>

<div class="white section fadein">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="section-title text-center">
        Podcast App (to be named)
      </div>
      <div class="col-xs-12 project-desc text-center">
        Our podcast app is a work-in-progress. It's a social approach to finding, subscribing to, and sharing your favorite podcasts with your friends. See the project on Github
        <a href="https://github.com/cuappdev" class="red-link" target="_blank">here.</a>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'components/action/have_an_idea' %>
