<div class="team-top fadein">
	<%= image_tag "AppDevLogo.png", class: "app-dev-logo" %> 
	<div class="slogan text-center">Our Team</div>
</div>


<!-- Modifying to add team information --> 
<div class="white-barz">


	<div class="team-container">

		<!-- ANNIE --> 
		<div class="col-sm-4 team-member fadein">
			<div class="col-xs-12" style="padding-bottom: 20px;">
				<%= image_tag "team/annie.jpg", class: "center-block", style: "width:150px;height:auto;" %> 
			</div>
			<p class="text-medium col-xs-12 text-center" style="margin-bottom:0px;">
				Annie Cheng   
			</p>
			<p class="text-small col-xs-12 text-center">
				Developer Lead
			</p>

			<div class="col-xs-12 bullet">
				<div class="col-xs-offset-4 col-xs-2">
					<a href="https://github.com/acheng96" target="_blank"><%= image_tag "team/github.png", class: "center-block media-logo", style: "width:20px;height:auto;" %></a>
				</div>
				<div class="col-xs-2">
					<a href="https://www.linkedin.com/in/acheng96" target="_blank"><%= image_tag "team/linkedin.png", class: "center-block media-logo linkedin", style: "width:20px;height:auto;" %></a>
				</div>
			</div>
		</div>

		<!-- ANDREW --> 
		<div class="col-sm-4 team-member fadein">
			<div class="col-xs-12" style="padding-bottom: 20px;">
				<%= image_tag "team/andrew.jpg", class: "center-block", style: "width:150px;height:auto;" %> 
			</div>
			<p class="text-medium col-xs-12 text-center" style="margin-bottom:0px;">
				Andrew Aquino   
			</p>
			<p class="text-small col-xs-12 text-center">
				Design Lead
			</p>

			<div class="col-xs-12 bullet">
				<div class="col-xs-offset-5 col-xs-2">
					<a href="https://www.linkedin.com/in/andjosaquino" target="_blank"><%= image_tag "team/linkedin.png", class: "center-block media-logo linkedin", style: "width:20px;height:auto;" %></a>
				</div>
			</div>
		</div>


		<!-- DENNIS --> 
		<div class="col-sm-4 team-member fadein">
			<div class="col-xs-12" style="padding-bottom: 20px;">
				<%= image_tag "team/dennis.jpg", class: "center-block", style: "width:150px;height:auto;" %> 
			</div>
			<p class="text-medium col-xs-12 text-center" style="margin-bottom:0px;">
				Dennis Fedorko  
			</p>
			<p class="text-small col-xs-12 text-center">
				Product / Marketing Lead 
			</p>

			<div class="col-xs-12 bullet">
				<div class="col-xs-offset-4 col-xs-2">
					<a href="https://github.com/dennisfedorko" target="_blank"><%= image_tag "team/github.png", class: "center-block media-logo", style: "width:20px;height:auto;" %></a>
				</div>
				<div class="col-xs-2">
					<a href="https://www.linkedin.com/in/dennis-fedorko-7b1495b5" target="_blank"><%= image_tag "team/linkedin.png", class: "center-block media-logo linkedin", style: "width:20px;height:auto;" %></a>
				</div>
			</div>
		</div>

	</div>




	<div class="team-container" >

		<!-- ILAN --> 
		<div class="col-sm-4 team-member col-sm-offset-2 fadein">
			<div class="col-xs-12" style="padding-bottom: 20px;">
				<%= image_tag "team/ilan.jpg", class: "center-block", style: "width:150px;height:auto;" %> 
			</div>
			<p class="text-medium col-xs-12 text-center" style="margin-bottom:0px;">
				Ilan Filonenko   
			</p>
			<p class="text-small col-xs-12 text-center">
				Backend Lead
			</p>

			<div class="col-xs-12 bullet">
				<div class="col-xs-offset-4 col-xs-2">
					<a href="https://github.com/ifilonenko" target="_blank"><%= image_tag "team/github.png", class: "center-block media-logo", style: "width:20px;height:auto;" %></a>
				</div>
				<div class="col-xs-2">
					<a href="https://www.linkedin.com/in/ifilonenko" target="_blank"><%= image_tag "team/linkedin.png", class: "center-block media-logo linkedin", style: "width:20px;height:auto;" %></a>
				</div>
			</div>
		</div>

		<!-- ADAM --> 
		<div class="col-sm-4 team-member fadein">
			<div class="col-xs-12" style="padding-bottom: 20px;">
				<%= image_tag "team/adam.jpg", class: "center-block", style: "width:150px;height:auto;" %> 
			</div>
			<p class="text-medium col-xs-12 text-center" style="margin-bottom:0px;">
				Adam ElShaer   
			</p>
			<p class="text-small col-xs-12 text-center">
				Operations Lead
			</p>

			<div class="col-xs-12 bullet">
				<div class="col-xs-offset-5 col-xs-2">
					<a href="https://www.linkedin.com/in/adamelshaer" target="_blank"><%= image_tag "team/linkedin.png", class: "center-block media-logo linkedin", style: "width:20px;height:auto;" %></a>
				</div>
			</div>
		</div>

	</div>



</div> 




<div class="offwhite-barz fadein">

	<div class="container">
		<div class="col-sm-6 text-center">
			<div class="slogan" style="padding-top:0px;">
				Designers
			</div>
			<p class="text-black text-small">
				Eileen Dai, Austin Chan, Sahil Khoja,</br>
				Sara Cheong, Tiffany Zheng, Derrick Ho</br>
			</p>
		</div>

		<div class="col-sm-6 text-center">
			<div class="slogan" style="padding-top:0px;">
				Developers
			</div>
			<p class="text-black text-small">
				Mark Bryan, Jesse Chen,</br>
				Joseph Antonakakis, Emily Lien,</br>
				Alex Zielenski, Natasha Armbrust,</br>
				Daniel Li, Hong Jeon, Logan Allen,</br>
				Celine Brass, Kevin Greer, Monica Ong</br>
			</p>
		</div>

	</div>


</div>