<div class="team-top fadein">
  <%= image_tag "AppDevLogo.png", class: "app-dev-logo" %>
  <div class="slogan text-center">Our Team</div>
</div>


<!-- Team Info -->
<div class="white-barz">

  <% @groupings.keys.each do |k| %>

    <!-- Top of a section of team members -->
    <div class="col-sm-4 text-center">
      <div class="slogan" style="padding-top:0px;">
        <%= k %>
      </div>
    </div>

    <!-- Members within this category -->
    <div class="team-container">

      <% @groupings[k].each do |mem| %>
        <div class="col-sm-4 team-member fadein">
          <div class="col-xs-12" style="padding-bottom: 20px;">
            <%= image_tag "team/#{mem.photo}",
                class: "center-block",
                style: "width:150px;height:auto;max-height:150px" %>
          </div>
          <p class="text-medium col-xs-12 text-center"
             style="margin-bottom:0px;">
            <%= mem.name %>
          </p>
          <p class="text-small col-xs-12 text-center">
            <%= mem.role %>
          </p>

          <div class="col-xs-12 bullet">
            <% for i in 0...(mem.prof_links.size) %>
              <div class="<% if i == 0 %>col-xs-offset-<%= mem.prof_links.size == 1 ? 5 : 4 %><% end %> col-xs-2">
                <a href="<%= mem.prof_links[i][:link] %>" target="_blank">
                  <%= image_tag "team/#{mem.prof_links[i][:link_type]}.png",
                    class: "center-block media-logo #{mem.prof_links[i][:link_type]}",
                    style: "width:20px;height:auto;" %>
                </a>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>

    </div>

  <% end %>

  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="slogan" style="padding-top:0px;">
        Where we've been
      </div>
      <div class="text-center">
        <a target="_blank" href="https://www.airbnb.com/"><%= image_tag "companies/airbnb.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="http://www.apple.com/"><%= image_tag "companies/apple.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="http://www.autotrader.com/"><%= image_tag "companies/AT.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="http://www.boozallen.com/"><%= image_tag "companies/BAH.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="http://www.bloomberg.com/"><%= image_tag "companies/bb.jpg", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="http://www.brocade.com/en.html"><%= image_tag "companies/brocade.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://www.capitalone.com/"><%= image_tag "companies/capitalone.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="http://www.cisco.com/c/en/us/index.html"><%= image_tag "companies/cisco.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://www.bankoncit.com/"><%= image_tag "companies/cit.png", class: "col-sm-4 col-md-3 col-lg-2  company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://www.facebook.com/"><%= image_tag "companies/facebook.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://www.fitbit.com/"><%= image_tag "companies/fitbit.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://flipboard.com/"><%= image_tag "companies/flipboard.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://www.fiscalnote.com/"><%= image_tag "companies/FN.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://www.google.com/"><%= image_tag "companies/google.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://layer.com/"><%= image_tag "companies/Layer.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://www.linkedin.com/"><%= image_tag "companies/linkedin.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="http://www.lutron.com/en-US/Pages/default.aspx"><%= image_tag "companies/lutron.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://www.microsoft.com/en-us/"><%= image_tag "companies/microsoft.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://www.palantir.com/"><%= image_tag "companies/palantir.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://www.robinhood.com/"><%= image_tag "companies/robinhood.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://stash.ai/landing"><%= image_tag "companies/stash.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://pos.toasttab.com/"><%= image_tag "companies/toast.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://whisper.sh/"><%= image_tag "companies/whisper.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="http://www.workday.com/"><%= image_tag "companies/workday.png", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
        <a target="_blank" href="https://www.yahoo.com/"><%= image_tag "companies/yahoo.jpg", class: "col-sm-4 col-md-3 col-lg-2 company", style: "height: 80px; width: auto;" %></a>
      </div>
    </div>
  </div>

</div>
