<!-- <div class="projects-top fadein">
  <p class="text text-white text-large">
    Our Work
  </p>
</div> -->

<%= render partial: 'components/headers/projects_header' %>

<!-- Eatery -->
<div class="navbar-change white project-section fadein">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="text-center">
        <%= image_tag "projects/eatery-logo.png", class: "app-logo" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/eatery-1.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/eatery-2.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/eatery-3.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/eatery-4.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/eatery-5.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/eatery-6.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 project-desc text-center">
        Eatery is an iOS app for Cornell eateries and dining halls. It provides an easy and accessible way to browse the hours/menus of the dining locations on campus as well as keep track of your dining history. Download the current release on the
        <a href="https://itunes.apple.com/us/app/eatery-cornell-dining-made/id1089672962?mt=8" class="red-link" target="_blank">Apple App Store.</a> An Android version is coming soon!
        See the
        <a href="https://github.com/cuappdev/eatery" class="red-link" target="_blank">iOS work</a>
        on Github.
      </div>
    </div>
  </div>
</div>

<!-- Recast -->
<div class="white project-section fadein">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="text-center">
        <%= image_tag "projects/recast-logo.png", class: "app-logo" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/recast-1.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/recast-2.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/recast-3.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/recast-4.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 project-desc text-center">
        Recast is an iOS podcast app that seeks to transform the way you listen to, interact with, and share and discover podcast content. Download the current release on the
        <a href="https://itunes.apple.com/us/app/recast-find-share-podcasts/id1182878908?mt=8" class="red-link" target="_blank">Apple App Store.</a>
        See the
        <a href="https://github.com/cuappdev/podcast-ios" class="red-link" target="_blank">iOS work</a> and
        <a href="https://github.com/cuappdev/podcast-backend" class="red-link" target="_blank">backend work</a>
        on Github.
      </div>
    </div>
  </div>
</div>

<!-- Ithaca Transit -->
<div class="white project-section fadein">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="text-center">
        <%= image_tag "projects/ithaca-transit-logo.png", class: "app-logo" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/ithaca-transit-1.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/ithaca-transit-2.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/ithaca-transit-3.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/ithaca-transit-4.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 project-desc text-center">
        Ithaca Transit is an iOS app featuring Ithaca's first end-to-end navigation service for TCAT with live bus tracking. It provides an easy way to get around Ithaca with an intuitive interface. Download the current release on the
        <a href="https://itunes.apple.com/us/app/ithaca-transit-live-tracking/id1290883721?mt=8" class="red-link" target="_blank">Apple App Store.</a>
        See the
        <a href="https://github.com/cuappdev/tcat-ios" class="red-link" target="_blank">iOS work</a>
        on Github.
      </div>
    </div>
  </div>
</div>

<!-- Pollo -->
<div class="white project-section fadein">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="text-center">
        <%= image_tag "projects/pollo-logo.png", class: "app-logo" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/pollo-1.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/pollo-2.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/pollo-3.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/pollo-4.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/pollo-5.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 project-desc text-center">
        Pollo is a mobile and web app that allows for questions, feedback, and interaction between teachers and students – for free. Create questions in advance or on the fly, and use your past questions history for review. Download the current release on the
        <a href="https://itunes.apple.com/us/app/pollo-polling-made-easy/id1355507891?mt=8" class="red-link" target="_blank">Apple App Store.</a>
        Check the
        <a href="https://github.com/cuappdev/clicker-ios" class="red-link" target="_blank">iOS work</a>,
        <a href="https://github.com/cuappdev/clicker-web" class="red-link" target="_blank">web work</a>, and
        <a href="https://github.com/cuappdev/clicker-backend" class="red-link" target="_blank">backend work</a>
        on Github.
      </div>
    </div>
  </div>
</div>

<!-- BRShuttle -->
<div class="white project-section fadein">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="text-center">
        <%= image_tag "projects/brs-logo.png", class: "app-logo" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/brs-1.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/brs-2.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "projects/brs-3.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 project-desc text-center">
        BRShuttle is an iOS collaboration app between AppDev and
        <a href="http://www.cornellbigredshuttle.com/" class="red-link" target="_blank">Cornell's Big Red Shuttle service.</a>
        The Big Red Shuttle app allows users to track the Big Red Shuttle on Cornell's campus, with a slick interface and intuitive schedule menu. Download the current release on the
        <a href="https://itunes.apple.com/us/app/brshuttle-cornell-big-red/id1180295401?ls=1&mt=8" class="red-link" target="_blank">Apple App Store.</a>
        See the
        <a href="https://github.com/cuappdev/big-red-shuttle" class="red-link" target="_blank">iOS work</a>
        on Github.
      </div>
    </div>
  </div>
</div>

<!-- Tempo -->
<div class="white project-section fadein">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="text-center">
        <%= image_tag "projects/tempo-logo.png", class: "app-logo" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/tempo-1.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/tempo-2.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/tempo-3.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <%= image_tag "projects/tempo-4.png", class: "screenshot" %>
      </div>
      <div class="col-xs-12 project-desc text-center">
        Tempo is an iOS app with Spotify integration for music discovery and sharing with friends. It allows users to post their song of the day, and discover what others are listening to. See the
        <a href="https://github.com/cuappdev/tempo" class="red-link" target="_blank">iOS work</a> and
        <a href="https://github.com/cuappdev/tempo-api" class="red-link" target="_blank">API work</a>
        on Github.
      </div>
    </div>
  </div>
</div>

<%= render partial: 'components/action/have_an_idea' %>
